@font-face {
    font-family: "Nanum Square Neo";
    src: url("/assets/fonts/nanum_square_neo_variable.woff2") format("woff2");
}

:root {
    --color-background: #ffffff;
    --color-text: #000000;
    --fontfamily-sans: "Nanum Square Neo", sans-serif;
}

html {
    background-color: var(--color-background);
    color: var(--color-text);
    font: 500 100%/1.25 var(--fontfamily-sans);
}